body {
    font-family: Titillium Web, 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav {
    background-color: #87509c;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: all 0.6s;
}

#logo {
    color: #ffffff;
    font-family: Snap ITC;
    font-size: 56px;
    -webkit-transition: all 0.3s;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #87509c;
    border: 0;
    background-color: #ffffff;
    transition: background-color .3s;

}

.navbar-animacion {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    -webkit-box-shadow: 1px 9px 13px -1px rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    transition: all .5s;
}

#mainNav.navbar-animacion .navbar-brand {
    font-size: 32px;
    -webkit-transition: font-size .5s;
}

.btn {

    font-weight: bold;
}

.btn-nav {

    color: #ffffff;
    background-color: transparent;
    padding: 2px 2px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-nav:hover {
    background-color: rgb(0, 0, 0, 0.2);
    color: #ffffff;
    box-shadow: none;
}

.btn-xl {
    font-size: 18px;
    padding: 15px 50px;
}

.btn-primary {
    background-color: #eb7d4b;
    border-color: #eb7d4b
}

.btn-primary:hover {
    background-color: #fb8651 !important;
    border-color: #fb8651 !important;
}

/*================================================= BODY ====================================================== */
/*========== Welcome ============ */
header#welcome {
    text-align: center;
    color: white;
    background-color: #87509c;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header#welcome .text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header#welcome .text .intro-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}

@media (min-width: 768px) {

    header#welcome .text {
        padding-top: 300px;
        padding-bottom: 250px;
    }

    header#welcome .text .intro-heading {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 50px;
        margin-left: 80px;
        margin-right: 80px;

    }
}

/*========== GENERAL SECTION ============ */

section {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

section h2.section-heading {
    font-size: 40px;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 5px;
    font-weight: bold;

}

section h2.line {
    margin-top: -80px;
    padding-bottom: 10px;
    font-size: 80px;
    color: rgb(0, 0, 0, 0.2);
    font-family: sans-serif;
}

section h3.section-subheading {
    text-align: center !important;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;

}

section .row {
    padding-bottom: 50px;
}


section h4 {
    margin-top: 30px;
}

@media (min-width:768px) {
    section h2.section-heading {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 5px;
         color: #ffffff;
    }

    section h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
    }

    section .row {
        padding-bottom: 100px;
    }


    section .option-buttons {
        margin-top: -30px;
    }
}

/*========== SERVICES ============ */

section#services {

    background-color: #17c2a4;

}

.text-muted-services {
    color: white !important;
    font-size: 16px;
}

/*========== TEAM ============ */

section#team {

    background-color: #e7f1f8;

}

section#team h2.section-heading {
    color: #3c4761 !important;
}

.text-muted-team {
    color: #5d677b !important;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;

}


section#team h4 {
    color: #3c4761 !important;
}

section#team p.jobs {
    color: #30bae7 !important;
}

.social-buttons {
    margin-top: 30px;
}


/*========== SKILL ============ */

section#skills {

    background-color: #ffffff;

}

section#skills h2.section-heading {
    color: #3c4761 !important;
}

section#skills h4 {
    color: #3c4761 !important;
}

.text-muted-skills {
    color: #5d677b !important;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;

}

/*========== portfolio ============ */

section#portfolio {

    background-color: #ffdd99;

}

section#portfolio h2.section-heading {
    color: #393939 !important;
}

section#portfolio h4 {
    color: #3c4761 !important;
}

.text-muted-portfolio {
    color: #393939 !important;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;

}

.portfolio-item {
    margin-top: 50px;
}

.individual-button {
    margin-top: -70px;
    margin-right: 5px;
    width: 80px;
    background-color: #ebc985;
    border: none;
    color: #393939;
}

.individual-button:active,
.individual-button:focus,
.individual-button:hover {
    background-color: #ffffff !important;
    color: #393939 !important;
    box-shadow: none !important;
}

.portfolio-caption {
    color: #393939 !important;
    margin-top: 30px;
}

/*========== TESTIMONIALS ============ */

section#testimonials {

    background-color: #d74680;

}

section#testimonials h4 {
    color: #ffffff !important;
    text-align: left;
}

section#testimonials p.jobs {
    color: #ffdd99 !important;
    margin-top: -10px;
    text-align: left;

}

.text-muted-testimonials {
    color: #ffffff !important;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    margin-right: -25px;

}

.testimonials-caption {
    color: #ffffff !important;
    margin-top: 30px;
}

@media (min-width:992px) {
    .testi-1 {
        margin-left: 20px;
    }

    .testi-2 {
        margin-left: -120px;
    }
}



/*========== GIT ============ */

section#git {

    background-color: #3c5499;

}

.text-muted-git {
    color: #ffffff !important;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    margin-right: -25px;

}

.btn-contact {
    margin-top: -60px;
}

.form-control {
    background-color: #273a71 !important;
    border: none !important;
}

textarea#mensaje {
    height: 200px;
    color: #ffffff;
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

.form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}



/*========== FOOTER ============ */

footer {

    background-color: #344b8e;

}

footer li.list-inline-item {
    margin-left: 80px;
    margin-top: 30px;
}

footer a.social {
    color: #ffffff;
    font-family: 'Titillium Web', 'Montserrat';
    font-weight: bold;

}